.footer {
  width: 100%;
  margin-top: 100px;
  padding: 40px 20px;

  background: #010309; // oscuro fuerte
  color: #e2e8f0;
  text-align: center;

  /* 🔥 CLAVE */
  box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.8);

  /* 🔥 EXTRA: línea separadora */
  border-top: 2px solid rgba(255, 255, 255, 0.1);

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  p {
    margin: 6px 0;
    color: #94a3b8;
  }

  strong {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 8px;
  }
}