@use "../abstracts/variables" as v;

body.weather-app {
  font-family: v.$font-primary;
  color: #1e293b;

  background:
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.35), transparent 40%),
    radial-gradient(circle at top right, rgba(255, 255, 255, 0.2), transparent 30%),
    linear-gradient(135deg, #74b9ff 0%, #0984e3 100%);
}